body{
  margin-top: 10rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-right: 50px;
  background-color: lavenderblush;
}

#Wordsearch1
{
  background-color: lavenderblush;
  
}
